/* 컬렉션 이미지 */
.bg-collection img {
  width: 100%;
}

.collection {
  width: 100%;
}

/* 컬렉션 탑 텍스트*/
.collection .collection-top {
  width: 100%;
}

.collection .collection-top .collection-text {
  display: flex;
  flex-direction: column;
  gap: 13px;
  max-width: 560px;
  text-align: center;
  margin: 0 auto;
  padding: 100px 0px;
}

.collection .collection-text-title {
  font-size: 40px;
}

.collection .collection-text-note {
  font-size: 20px;
  color: var(--text-secondary);
}

.collection .collection-text-dis {
  font-size: 16px;
  color: var(--text-secondary);
  line-height: 2;
}

@media screen and (max-width: 768px) {
  .collection .collection-top .collection-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 70px 0px;
  }

  .collection .collection-text-title {
    font-size: 32px;
  }

  .collection .collection-text-note {
    font-size: 18px;
    color: var(--text-secondary);
  }

  .collection .collection-text-dis {
    font-size: 15px;
    color: var(--text-secondary);
    line-height: 1.8;
  }
}

/* 컬렉션 텍스트 부분*/
.collection .collection-product .collection-line {
  display: flex;
  align-items: center;
  margin-bottom: 75px;
}

.collection .collection-product .collection-line .border {
  width: 100%;
}

.collection .collection-product .collection-line span {
  font-size: 32px;
  color: var(--text-secondary);
  font-weight: 600;
  padding: 0px 40px;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .collection .collection-product .collection-line {
    margin-bottom: 50px;
  }
}

/* 컬렉션 제품*/
.collection .collection-product .product-wrapper {
  width: 100%;
  margin-bottom: 75px;
}

.collection .collection-product .product-wrapper .product-list {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 65px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

@media screen and (max-width: 1439px) {
  .collection .collection-product .product-wrapper .product-list {
    max-width: 1089px;
    margin: 0 auto;
    padding: 0px 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}

@media screen and (max-width: 1100px) {
  .collection .collection-product .product-wrapper .product-list {
    max-width: 761px;
    margin: 0 auto;
    padding: 0px 65px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}

@media screen and (max-width: 768px) {
  .collection .collection-product .product-wrapper {
    margin-bottom: 50px;
  }
  .collection .collection-product .product-wrapper .product-list {
    max-width: 303px;
    margin: 0 auto;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
}
