/* 비디오 영역 */
.hero-video {
  width: 100%;
  height: auto;
}

/* 컬렉션 */
.collection {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.collection .collection-text-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.collection .collection-text {
  width: 390px;
  height: auto;
}

.collection .collection-text .collection-text-title {
  font-size: 48px;
  font-weight: 600;
}

.collection .collection-text .collection-text-sub {
  font-size: 24px;
}

.collection .collection-text .border {
  display: block;
  margin: 20px 0px;
}

.collection .collection-text .collection-text-note,
.collection-text-dis {
  color: var(--text-secondary);
}

.collection .collection-text .collection-text-dis {
  margin: 10px 0px;
}

.collection .collection-text .view-btn {
  display: block;
  padding: 20px 0px;
  display: flex;
  justify-content: end;
}

.collection img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1320px) {
  .collection {
    display: flex;
    flex-direction: column;
  }
  .collection .collection-text .collection-text-title {
    font-size: 36px;
    font-weight: 600;
  }

  .collection .collection-text .collection-text-sub {
    font-size: 20px;
  }
}
