/* 공통 클래스 */
.view-btn {
  display: block;
  padding: 10px 0px;
  display: flex;
  justify-content: end;
}

/* 비디오 영역 */
.hero-video {
  width: 100%;
  height: auto;
}

/* 컬렉션 */
.collection {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid var(--border-light);
}

.collection .collection-text-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.collection .collection-text {
  max-width: 390px;
  height: auto;
}

.collection .collection-text .collection-text-title {
  font-size: 48px;
  font-weight: 600;
}

.collection .collection-text .collection-text-sub {
  font-size: 24px;
}

.collection .collection-text .border {
  display: block;
  margin: 20px 0px;
}

.collection .collection-text .collection-text-note,
.collection-text-dis {
  color: var(--text-secondary);
}

.collection .collection-text .collection-text-dis {
  margin: 20px 0px;
}

.collection img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1320px) {
  .collection {
    display: flex;
    flex-direction: column;
  }

  .collection .collection-text .collection-text-title {
    font-size: 36px;
    font-weight: 600;
  }

  .collection .collection-text .collection-text-sub {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .collection .collection-text {
    padding: 20px;
  }

  .collection .collection-text .collection-text-title {
    font-size: 28px;
    font-weight: 600;
  }

  .collection .collection-text .collection-text-sub {
    font-size: 18px;
  }
}

/* 카테고리 섹션 */
.categories {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 35px;
}

.categories .categories_wrapper {
  padding-top: 55px;
  padding-right: 35px;
  padding-bottom: 60px;
}

.categories .categories_wrapper img {
  width: 100%;
  height: auto;
}

.categories .categories_wrapper .categories-title {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}

.categories .categories_wrapper .categories-border {
  display: block;
  margin-top: 20px;
}

@media screen and (max-width: 1030px) {
  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .categories .categories_wrapper:nth-child(1) {
    padding-bottom: 5px;
  }

  .categories .categories_wrapper:nth-child(2) {
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 768px) {
  .categories {
    display: block;
  }
  .categories .categories_wrapper:nth-child(1) {
    padding-bottom: 5px;
  }

  .categories .categories_wrapper:nth-child(2) {
    padding-bottom: 5px;
  }

  .categories .categories_wrapper:nth-child(3) {
    padding-bottom: 5px;
  }
}

/* 브랜드 스토리 섹션 */
.brand-story {
  width: 100%;
  height: 465px;
  background-image: url('/src/assets/images/home/bg_brandstory.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.brand-story .brand-story-inner {
  min-width: 1440px;
  margin: 0 auto;
}

.brand-story .brand-story-wrapper {
  max-width: 356px;
  color: var(--bg-surface);
  margin-left: 50px;
}

.brand-story .brand-story-wrapper .brand-story-title {
  font-size: 48px;
}

.brand-story .brand-story-wrapper .brand-story-dis {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .brand-story .brand-story-wrapper {
    max-width: 324px;
    margin-left: 25px;
  }

  .brand-story .brand-story-wrapper .brand-story-title {
    font-size: 36px;
  }

  .brand-story .brand-story-wrapper .brand-story-dis {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* 스토어 찾기 섹션 */
.store {
  width: 100%;
  display: grid;
  grid-template-columns: 1.3fr 2fr;
}

.store .store-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 357px;
}

.store .store-text-title {
  font-size: 52px;
  font-weight: 600;
}

.store .store-text-sub {
  font-size: 20px;
  margin-bottom: 65px;
  margin-left: 5px;
}

.store img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1250px) {
  .store .store-text-title {
    font-size: 40px;
    font-weight: 600;
  }

  .store .store-text-sub {
    font-size: 18px;
  }
}

@media screen and (max-width: 1040px) {
  .store {
    width: 100%;
    display: grid;
    grid-template-columns: 1.6fr 2fr;
  }

  .store .store-text-title {
    font-size: 36px;
    font-weight: 600;
  }

  .store .store-text-sub {
    font-size: 18px;
  }
}

@media screen and (max-width: 920px) {
  .store {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .store .store-text-wrapper {
    max-width: 310px;
  }

  .store .store-text-title {
    font-size: 32px;
    font-weight: 600;
  }

  .store .store-text-sub {
    font-size: 18px;
  }

  @media screen and (max-width: 920px) {
    .store {
      width: 100%;
      display: block;
    }

    .store .store-text-wrapper {
      padding: 50px 0px;
      max-width: 232px;
    }
  }
}
